.Controls {
  margin: 16px;
  display: flex;
  flex: 1 1 auto;
}

.CitySelect {
  width: 120px;
  /* margin: 8px !important; */
}

.FrequencySelect {
  width: 160px;
  /* margin: 8px !important; */
}
