@import '~leaflet/dist/leaflet.css';

.Map {
  flex: 1 1 auto;
  display: flex;
  z-index: 0;
}

.LoadingSpinner {
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GeoJSON {
  cursor: inherit !important;
}
